<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
  <div class="col-8 offset-2">
    <h3>Terms of Service</h3>
    <br />
    <div class="term-box">
      <p>
        If your country of residence or establishment is within the European
        Economic Area (“EEA”), Switzerland or the United Kingdom, the Terms of
        Service for European Users apply to you.
      </p>
      <p>
        If your country of residence or establishment is outside of Australia,
        the EEA, Switzerland, and the United Kingdom, the Terms of Service for
        Non-European Users apply to you.
      </p>
      <p>
        If your country of residence or establishment is within Australia, the
        Terms of Service for Australian Users apply to you.
      </p>
    </div>
    <br />
    <h4>Terms of Service for European Users</h4>
    <br />
    <p>
      As a consumer who resides in the EEA you can access the European
      Commission’s online dispute resolution platform here:
      https://ec.europa.eu/consumers/odr. Please note that Wanderlust is not
      committed nor obliged to use an alternative dispute resolution entity
      within the meaning of Directive 2013/11 EU to resolve disputes with
      consumers. The European Commission’s online dispute resolution platform is
      not available for residents of Switzerland or the United Kingdom.
    </p>
    
    <p>
      These Terms of Service for European Users (“Terms”) are a binding legal
      agreement between you and Wanderlust that govern your right to use the
      websites, applications, and other offerings from Wanderlust (collectively, the
      “Wanderlust Platform”). When used in these Terms, “Wanderlust,” “we,” “us,” or
      “our” refers to the Wanderlust entity set out on Schedule 1 with whom you are
      contracting.
    </p>
    <p>
      We maintain other terms and policies that supplement these Terms like our
      Privacy Policy, which describes our collection and use of personal data,
      and our Payments Terms, which govern any payment services provided to
      Members by the Wanderlust payment entities (collectively "Wanderlust Payments").
    </p>
    <p>Thank you for using Wanderlust!</p>
  </div>
</div>
